<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MSC_ADMIN</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServelet</servlet-name>
    <servlet-class>com.webmaven.LoginServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServelet</servlet-name>
    <url-pattern>/LoginServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductsServelet</servlet-name>
    <servlet-class>com.webmaven.ProductsServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductsServelet</servlet-name>
    <url-pattern>/ProductsServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomersServelet</servlet-name>
    <servlet-class>com.webmaven.CustomersServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomersServelet</servlet-name>
    <url-pattern>/CustomersServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrdersServelet</servlet-name>
    <servlet-class>com.webmaven.OrdersServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrdersServelet</servlet-name>
    <url-pattern>/OrdersServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderDetailsServelet</servlet-name>
    <servlet-class>com.webmaven.OrderDetailsServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderDetailsServelet</servlet-name>
    <url-pattern>/OrderDetailsServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeeServelet</servlet-name>
    <servlet-class>com.webmaven.EmployeeServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeServelet</servlet-name>
    <url-pattern>/EmployeeServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MasterServelet</servlet-name>
    <servlet-class>com.webmaven.MasterServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MasterServelet</servlet-name>
    <url-pattern>/MasterServelet</url-pattern>
  </servlet-mapping>
</web-app>